<!DOCTYPE html>
<html>
    <head>
         <!--Css-->
        
         <link rel="stylesheet" href="/layouts/css/gioiThieu.css">
         
    </head>
    <body>
        <div class="container"> <br> <br>
            <div id="carouselExampleIndicatorss" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicatorss" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicatorss" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicatorss" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicatorss" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img class="d-block w-75 mx-auto" src="/layouts/img/21.jpg" alt="First slide"  height="400" >
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-75 mx-auto" src="/layouts/img/22.jpg" alt="Second slide" height="400" >
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-75 mx-auto" src="/layouts/img/23.jpg" alt="Third slide" height="400" >
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-75 mx-auto" src="/layouts/img/24.jpg" alt="Four slide" height="400"  >
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicatorss" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicatorss" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                
            </div> <br> <br>
            <div>
               <h3 style="color: #379237;text-align: center;"> DU LỊCH CỒN CHIM</h3>
               <hr class="custom-hr"><br> <br>
            </div>
                  
            
            <div class="row">
                <div class="col-sm-6 mt-3 ">
                    <h4>Đến Trà Vinh phải tìm về Cồn Chim!</h4>
                    <p class="text-justify"> 
                        &nbsp;&nbsp;&nbsp;&nbsp;Cồn Chim là một cù lao nổi trên sông Cổ Chiên, 
                        về hành chính thuộc địa phận xã Hòa Minh, huyện Châu Thành, 
                        tỉnh Trà Vinh
                    </p>
                    <p class="text-justify">
                        &nbsp;&nbsp;&nbsp;&nbsp;Cách trung tâm thành phố Trà Vinh khoảng 15km theo hướng QL 53 xuôi về hạ nguồn. 
                        Từ đây, nếu đi tiếp khoảng 30km là có thể ra đến cửa biển (cửa Cung Hầu và Cổ Chiên).
                    </p>
                    <p class="text-justify">
                        &nbsp;&nbsp;&nbsp;&nbsp;Cồn Chim có diện tích tự nhiên 60 ha, nằm giữa sông Cổ Chiên,
                        trong đó diện tích đất nông nghiệp là 34 ha và có 220 người dân sinh sống.
                    </p> 
                </div> 
                
                <div class="col-sm-6">
                    <div class="image-container">
                        <img src="/layouts/img/03.jpg" class="img-fluid img-fluided"  alt="Hình ảnh" width="700" height="300"> 
                    </div>
                                      
                </div> 
    
                <div class="col-sm-6 ">
                    <div class="image-container"> 
                        <img src="/layouts/img/04.jpg" class="img-fluid img-fluided"  alt="Hình ảnh" width="700" height="300">
                    </div>                
                </div>
                <div class="col-sm-6 mt-3 ">
                    <h4>Cồn Chim có đặc trưng gì hay?</h4>
                    <p class="text-justify">
                        &nbsp;&nbsp;&nbsp;&nbsp;Do được hình thành bởi sự bồi lắng phù sa của dòng sông Cổ Chiên qua nhiều năm trầm tích,
                         phần lớn diện tích của Cồn Chim là đất thấp nên người dân phải đào ao, 
                         be bờ để canh tác. Bên cạnh đó, vì nằm gần cửa biển nên cũng giống như tình trạng của
                          nhiều vùng đất ở Đồng bằng Sông Cửu Long khác đó là bị nhiễm mặn và mùa khô.
                    </p>
                    <p class="text-justify">
                        &nbsp;&nbsp;&nbsp;&nbsp;Điểm du lịch cộng đồng Cồn Chim xây dựng theo quy luật “thuận thiên”, 
                        người dân làm du lịch gắn với bảo vệ tài nguyên môi trường,
                        nuôi trồng và sản xuất sạch theo mô hình “con tôm ôm cây lúa”.
                    </p>
    
                </div>
    
    
                <div class="col-sm-6 mt-3">
                    <h4>Quan cảnh Cồn Chim</h4>
                    <p class="text-justify">
                        &nbsp;&nbsp;&nbsp;&nbsp;Du lịch cộng đồng Cồn Chim  phù hợp với mọi người, 
                        giúp nâng cao chất lượng cuộc sống và hưởng thụ của du khách. 
                    </p>
                    <p class="text-justify">
                        &nbsp;&nbsp;&nbsp;&nbsp;Du khách đến với Cồn Chim được ngắm nhìn thỏa thích phong cảnh
                        sông nước của miền quê cùng những cánh rừng bần cao xanh ngút trời.
                    </p>                    
                    <p class="text-justify">    
                        &nbsp;&nbsp;&nbsp;&nbsp;Du khách được trải nghiệm các hoạt động câu cua, đặt lú tôm cá…
                        và được thưởng thức các món ngon hải sản tươi sống, 
                        cùng những món ăn dân dã do chính các đầu bếp giỏi nghề tại địa phương
                    </p>
                </div>
    
                <div class="col-sm-6">
                    <div class="image-container">
                        <img src="/layouts/img/05.jpg" class="img-fluid img-fluided"  alt="Hình ảnh" width="700" height="300">
                    </div>
                </div>
    
    
                <div class="col-sm-6">
                    <div class="image-container">
                        <img src="/layouts/img/06.jpg" class="img-fluid img-fluided"  alt="Hình ảnh" width="700" height="300">
                    </div>
                    
                </div>
                <div class="col-sm-6 mt-3">
                    <h4>
                        Đến Cồn Chim du khách được tham quan và trải nghiệm những gì?
                    </h4>
                    <p>
                     - Cồn Chim là bức tranh làng quê Nam bộ thu nhỏ.
                    </p>
                    <p>
                     - Ở Cồn Chim còn lưu giữ nhiều món ăn dân gian Nam bộ đặc sắc
                    </p>
                    <p>
                     - Đến Cồn Chim là để trở về một trời tuổi thơ thương nhớ
                    </p>
                    <p>
                     - Đặc sản trên Cồn Chim là các món ngon đậm chất đồng quê
                    </p>                    
                </div>       
    
            </div> 
        </div>
          
 
    </body>
</html>
